@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: "Times New Roman", serif;
}

.value {
  font-size: 64px;
  text-align: center;
  line-height: 300px;
}

.suit {
  font-size: 32px;
  position: absolute;
}

.top {
  top: 10px;
  left: 10px;
}

.bottom {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}
